.search-field {
    display: flex;
    justify-content: center;
    
  }
  
.search-input {
    width: 300px;
    height: 35px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 0px;
  }

input.search-input{
  /* margin-left: 5px;
  padding: 5px; */
  text-align: center;

}
input.search-input::placeholder{
  /* margin-left: 5px; */
  text-align: center;
}
  
  .search-button {
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px;
    margin: 0 5px;
  }
  
  .search-button:hover {
    background-color: #555;
  }
  

  .search-results{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    /* border: 2px solid black; */
    margin: auto;
    /* margin-top: 0.5rem; */
    border-radius: 5px;
    font-size: 16px;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 1;
    
  }